.main
	padding-top: 86px
	padding-bottom: 44px
	background-color: rgb(248,248,248)
	
.good-bar-anchor
	height: 0
	
.good-tag
	position: absolute
	right: 20px
	top: 30px
	
.good
	margin-bottom: 10px
	
.goods
	background-color: rgb(248,248,248)
	
.submit
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	
.van-popup--top
	top: 50px
	height: 100%	
	
.good-header
	display: flex
	padding: 16px
	border-bottom: #fafafa solid 1px
	
.good-count
	width: 120px
	
.good-id
	flex: 1
	
.good-count dt
	color: #999
	
.good-count dd
	color: #ED3C3C
	
.editing-header
	display: flex
	height: 44px
	line-height: 44px
	background-color: #f7f7f7
	padding-left: 16px
	padding-right: 16px
	
.editing-cancel
	width: 60px
	color: #73AF7B!important
	
.editing-id
	flex: 1
	
.editing-lot
	margin-left: 40px
	
.editing-confrim
	padding-top: 60px
	padding-bottom: 20px
	
.editing-fact
	color: #90918F!important
	width: 80%
	margin: 0 auto
	font-size: 16px
	
.editing-fact b
	color: #F40F30
	
.editing-should
	color: #73AF7B
	margin-top: 10px
	
.editing-sure
	color: #46A892!important
	
.editing-panel .van-panel__footer	
	padding: 0
	
.checked
	position: absolute
	right: 16px
	top: 30px