.main
	padding-top: 46px
	
.inputer
	color: #6a6a6a

.inputer .van-field__control
	font-size: 14px
	
.serial
	width: 300px
	
.serial-cell.van-cell
	padding: 0

.serial-count
	height: 40px
	line-height: 40px
	
.serial-count b
	color: #F33A5A
	font-size: 16px
	
.serial-item
	display: flex!important
	
.serial-list
	max-height: 400px
	overflow: auto
	
.sure
	width: 90px
	height: 40px
	line-height: 32px
	border-radius: 6px