.main
	padding-top: 86px
	padding-bottom: 44px
	background-color: rgb(248,248,248)
	
.good-bar-anchor
	height: 0
	
.good-tag
	position: absolute
	right: 20px
	top: 30px
	
.good
	margin-bottom: 10px
	
.goods
	background-color: rgb(248,248,248)
	
.submit
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	
.van-popup--top
	top: 50px
	height: 100%	
	
.good-header
	display: flex
	padding: 16px
	border-bottom: #fafafa solid 1px	
	
.good-count
	width: 120px
	
.good-id
	flex: 1
	
.good-count dt
	color: #999
	
.good-count dd
	color: #ED3C3C
	
.editing-header
	display: flex
	background-color: #f7f7f7
	padding-left: 16px
	padding-right: 16px
	height: 46px
	line-height: 46px
	border-bottom: #e4e4e4 solid 1px
	
.editing-header0
	background-color: #f7f7f7
	padding-left: 16px
	padding-right: 16px
	line-height: 20px
	padding-top: 5px
	padding-bottom: 5px
	color: #848484
	
.editing-cancel
	width: 60px
	color: #73AF7B!important
	
.editing-id
	flex: 1
	
.editing-lot
	margin-left: 40px
	
.editing-need
	width: 60px
	
.editing-fact
	color: #90918F!important
	width: 80%
	margin: 0 auto
	font-size: 16px
	
.editing-fact b
	color: #F40F30
	
.editing-sure
	color: #46A892!important
	
.editing-panel .van-panel__footer	
	padding: 0
	
.checked
	position: absolute
	right: 16px
	top: 20px
	
.serial-search
	height: 40px
	line-height: 40px
	width: 80%
	margin: 20px auto
	.van-search__content
		background-color: #f2f2f2
		
.serial-item
	display: flex!important
	border-bottom: #F6F6F8 solid 1px
	width: 94%
	margin: 0 auto
	
.serial-item:last-of-type
	border-bottom: 0
	
.serial-list
	max-height: 200px
	overflow: auto	
	border: #e2e2e2 solid 1px
	width: 80%
	margin: 0 auto 20px auto
	border-radius: 2px
