.main
	padding-top: 86px
	padding-bottom: 44px
	background-color: rgb(248,248,248)
	
.good-bar-anchor
	height: 0
	
.good-tag
	position: absolute
	right: 20px
	top: 30px
	
.good
	margin-bottom: 10px
	
.goods
	background-color: rgb(248,248,248)
	
.submit
	position: fixed
	bottom: 0
	left: 0
	color: #F33A5A!important
	width: 100%
	
.van-popup--top
	top: 50px
	height: 100%	