.van-nav-bar__title,.van-nav-bar .van-icon,.van-nav-bar__text
	color: white

.van-search
	padding: 0
	margin-top: 5px
	
.van-nav-bar__title	
	max-width: calc(100% - 100px)
	
.van-field__control
	font-size: 14px