.main
	padding-top: 50px

.orders
	padding: 15px

.order
	box-shadow:0px 3px 9px 0px rgba(0, 0, 0, 0.06)
	margin-bottom: 15px

.order-user
	font-size: 14px
	
.order-footer
	display: flex
	width: 100%	
	margin-top: 8px
	
.order-time
	width: 100px
	margin-right: -16px
	
.order-id
	flex: 1
	
.van-cell
	font-size: 16px
	
.van-popup--top
	top: 50px
	height: 100%