.name
	color: #424242
	font-size: 23px
	font-weight: normal
	letter-spacing: 2px
	margin-top: 80px
	
.input
	margin-top: 40px
	border: #E5E5E5 solid 1px
	
.input.van-cell
	position: inherit
	
.login
	margin-top: 40px
	width: 60%
	max-width: 400px	
	

